@font-face {
	font-family: 'Phetsarath';
	src: url('https://awareautoh.github.io/phetsalathFont/PhetsarathOTModified_28_04_14.woff2') format('woff2'),
	     url('https://awareautoh.github.io/phetsalathFont/PhetsarathOTModified_28_04_14.woff') format('woff');
	     font-weight: 100;
	     font-style: normal;
}
