/* Lao Font for web
Version: 1 
Created date: 18 Oct 2020 
License: MIT 
Font Liacence: Thier respective Licence*/ 
/* Phetsarath */
@font-face {
	font-family: 'Phetsarath';
	src: url('https://awareautoh.github.io/phetsalathFont/PhetsarathOTModified_28_04_14.woff2') format('woff2'),
	     url('https://awareautoh.github.io/phetsalathFont/PhetsarathOTModified_28_04_14.woff') format('woff');
	     font-weight: normal;
	     font-style: normal;
	     font-display: swap;
}
/* Noto Sans Lao */
@font-face {
    font-family: 'Noto Sans Lao';
    src: url('https://awareautoh.github.io/phetsalathFont/NotoSansLao-Regular.eot');
    src: url('https://awareautoh.github.io/phetsalathFont/NotoSansLao-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://awareautoh.github.io/phetsalathFont/NotoSansLao-Regular.woff2') format('woff2'),
        url('https://awareautoh.github.io/phetsalathFont/NotoSansLao-Regular.woff') format('woff'),
        url('https://awareautoh.github.io/phetsalathFont/NotoSansLao-Regular.ttf') format('truetype'),
        url('https://awareautoh.github.io/phetsalathFont/NotoSansLao-Regular.svg#NotoSansLao-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
<<<<<<< HEAD
/* Lao typing4 */
@font-face {
    font-family: 'Lao_typing4';
    src: url('Lao_typing4.woff2') format('woff2'),
        url('Lao_typing4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Lao Buhan2 */
@font-face {
    font-family: 'Lao_Buhan2';
    src: url('Lao_Buhan2.woff2') format('woff2'),
        url('Lao_Buhan2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Lao Hand writing 8 */
@font-face {
    font-family: 'Lao_Handwriting8';
    src: url('Lao_Handwriting8.woff2') format('woff2'),
        url('Lao_Handwriting8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
=======
/* BoonBaan */
@font-face {
	font-family: 'BoonBaan';
	src: url('https://awareautoh.github.io/phetsalathFont/BoonBaan-Regular.woff2') format('woff2'),
	     url('https://awareautoh.github.io/phetsalathFont/BoonBaan-Regular.woff') format('woff');
	     font-weight: normal;
	     font-style: normal;
	     font-display: swap;
>>>>>>> 484a8070a6dce1ea86e22aec991f049422f9f975
}
